body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-family: $serif;
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: .6em;
}

h2 {
  font-family: $sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: .8em;
}

h3 {
 font-family: $serif;
 font-size: 1em;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 1.4em;
 margin-bottom: .5em;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p.date {
  color: transparentize($base-font-color, .6);
  font-family: $serif;
  font-size: .8em;
  margin-bottom: .5em;
}

p {
  font-family: $serif;
  font-weight: 300;
  letter-spacing: 1;
  margin-bottom: 1.2em;

  span {
    font-family: $sans-serif;
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
  }
}

li {
  font-family: $serif;
  font-weight: 300;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
