<h1>Welcome to the internet home of Deirdre Allison</h1>
<h2>Over 10 years ago, I made my first website (I wish I still had it - it was really embarrassing!). When I went to WSU, I majored in Digital Technology and Culture and made more websites. Then I got a job in marketing. After a couple years in marketing, I wondered if I still liked making websites and did a RailsBridge. Then I knew I wanted to be a web developer so I quit my marketing job to do Code Fellows. Below are my favorite projects and the good parts of my marketing job.</h2>
<p><strong>Note:</strong> You may be wondering why this website is a Rails app when it currently has no need for a database. That is because the blog I link to at the top will be here and not on blogger. Hopefully soon.</p>

<h1>Projects</h1>
<h2>Seattle Attractions Map</h2>
<p>Created interactive map for the Puget Sound Attractions Council using Google Maps API, Ruby on Rails and AJAX.</p>
<p>Github &amp; Live Demo (in progress)</p>

<h2>Ordr</h2>
<p>Ordr is a job search management app built in Rails using MongoDB. We are working on moving the front end to AngularJS using a Rails API.</p>
<p>Github &amp; Live Demo (in progress) </p>

<h2>Clipper Vacations</h2>
<p>Worked on several projects there as one of three employees working on the website which was responsible for 50% of revenue. Participated in two usability studies and a redesign with Blink and move to WordPress from OpenCMS. Made changes to website content, especially during promotions, in response to analytics to increase sales and conversion rate.</p>

<h2>Usability Testing for CitizenEffect.org</h2>
<p>Worked on a team to provide usability testing for Citizen Effect including in person observations, eye tracking software, conducting a survey and data analysis</p>

<h2>WSU Libraries Friends Site Redesign</h2>
<p>Worked with WSU Libraries to redesign their Friends of the Library site in accordance with new design standards. This project used HTML, CSS and JavaScript along with a custom WSU template.</p>

<h1>About Me</h1>
<ul class="default">
<li>I went to WSU for Digital Technology and Culture (I know it sounds weird - it was all about UX, web design, graphic design and communication on the web)</li>
<li>I think green (I volunteered for Sustainable Seattle for several years)</li>
<li>My favorite tech meetup is Beer && Code</li>
<li>My favorite animal is a penguin</li>
<li>I like trail running and snowboard vacations</li>
<li>I always have to be learning something new</li>
</ul>

<h1>Contact</h1>
<ul class="default">
<li><a href="mailto:deirdre9@gmail.com">Email</a></li>
<li><a href="www.linkedin.com/in/deirdreallison/">LinkedIn</a></li>
<li><a href="https://github.com/DeirdreAllison">Github</a></li>
<li><a href="https://twitter.com/deirdre_9">Twitter</a></li>
</ul>