<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Deirdre Allison</h1>
      <h3>Web Developer</h3>
      <h4>Seattle, WA</h4>
			<p>Over 10 years ago, I made my first website (I wish I still had it - it was really embarrassing!). After trying several majors, I settled on Digital Technology and Culture. I graduated and worked in marketing and content management for a few years before taking a Ruby on Rails workshop and realizing I still wanted to build things people would use on the web. My path to web development hasn't been a straight line, but I kind of like it that way.</p>
		</div>
	</div>
</div>