<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Deirdre Allison</h1>
			<p>Over 10 years ago, I made my first website (I wish I still had it - it was really embarrassing!). When I went to WSU, I majored in Digital Technology and Culture and made more websites. Then I got a job in marketing. After a couple years in marketing, I wondered if I still liked making websites and did a RailsBridge. Then I knew I wanted to be a web developer so I quit my marketing job to do Code Fellows. Below are my favorite projects and the good parts of my marketing job.</p>
		</div>
	</div>
</div>